.container {
  width: 100vw;
  height: 100vh;
  background-color: #8007b8;
  background-image: linear-gradient(to bottom right, #ce6253, #600a99);
}
.subcontainer {
  margin: auto;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
